* { box-sizing: border-box; } 

body { 
    
    font-family: helvetica, arial, sans-serif;
    background-color: rgb(9,28,54); }
=======
    background-color: rgb(9,28,54); 
    font-family: helvetica, arial, sans-serif;    
}

img { width: 100%; }

#wrapper {
    margin: 0 auto;
    width: 90%;
}

nav, section, footer {
    color: #000;
    background-color: #fff;
    padding: 10px;
}

header {
}

header h1 {
    line-height: 0;
    margin-bottom: 0;
    text-indent: -10000px;
}

header h2 {
    background-color: rgb(9,28,54);
    color: white
}

header img {
}
h1{
    color: rgb (9,28,54);
}


nav {
    border-top: 22px solid rgb(9,28,54);
}


nav ul {
    display: none;   
}

section {

}

.cta, section p + a {
    background-color: rgba(9,28,54,.7);
    border-radius: 10px;
    color: rgba(255,255,255,.7);
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

@media screen and (max-width: 400px) {
    
    body {
        padding: 3%
    }

    h1, h2 {
    text-align: center;
    font-size: 18px;
    }

    nav {
    border: 0;
    width: 100%;
}
    
    p {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    

article {
    border-bottom: 1px solid gray;
}
article + footer {
    border-bottom: rgb(9,28,54);
    
}

<<<<<<< HEAD
article ul
{
list-style-type:disc;
padding: 0px;
margin: 0px;
display:block-inline;

}

article ul+li
{
text-align: left;
padding: 0px;
padding-left: 14px; 
=======
a { 
    font-weight:600;
}

p a {
    font-weight:500;
}
.twitter-timeline {
    width: 100%
}

footer {
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;   
    text-align: center;
=======
    margin-bottom: 20px;
}
    
    @media screen and (max-width:600px) {
    
    header {
        text-align: center;
        font-size: 28px;
        font-weight:bold;
    }
    body{
        padding: 5%;
}
    h1 {
        text-align: center;
        font-size: 16px;
        font-weight: normal;
}
    h2 p {
        text-align: left;
        font-size: 12px;
}
    nav {
        border: 2px;
        width: 100%;
}
    nav ul {
        list-style-type: none;
        padding-left:0;
        text-align: center;
}
    nav li {
        display: inline;
        margin-right:10px;
}

    #meta {
        clear: left;
        margin-left: 0;
        width: 100%;
}
}

