* { box-sizing: border-box; } 

body { 
    background-color: rgb(9,28,54); 
    font-family: helvetica, arial, sans-serif;    
}

img { width: 100%; }

#wrapper {
    margin: 0 auto;
    width: 90%;
}

nav, section, footer {
    color: #000;
    background-color: #fff;
    padding: 10px;
}

header {
}

header h1 {
    line-height: 0;
    margin-bottom: 0;
    text-indent: -10000px;
}

header img {
}


nav {
    border-top: 22px solid rgb(9,28,54);
}

nav ul {
    display: none;   
}

section {

}

.cta, section p + a {
    background-color: rgba(9,28,54,.7);
    border-radius: 10px;
    color: rgba(255,255,255,.7);
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

article {
    border-bottom: 1px solid gray;
}

a { 
    font-weight:600;
}

p a {
    font-weight:500;
}
.twitter-timeline {
    width: 100%
}

footer {
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
}
