* { box-sizing: border-box; } 

body { background-color: #091c36; }

img { width: 100%; }

#wrapper {
    margin: 0 auto;
    width: 90%;
}

nav, section, footer {
    background-color: #fff;
    padding: 10px;
}

header {
}

header h1 {
    line-height: 0;
    margin-bottom: 0;
    text-indent: -10000px;
}

header img {
}

nav {
    border-top: 10px solid #091c36;
}

section {

}

.cta, section p + a {
    background-color: lime;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    width: 50%;
}


article {
    border-bottom: 1px solid gray;
}


footer {
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
}