* { box-sizing: border-box; } 

body { 
    
    font-family: helvetica, arial, sans-serif;
    background-color: rgb(9,28,54); }

img { width: 100%; }

#wrapper {
    margin: 0 auto;
    width: 90%;
}

nav, section, footer {
    background-color: #fff;
    padding: 10px;
}

header {
}

header h1 {
    line-height: 0;
    margin-bottom: 0;
    text-indent: -10000px;
}

header img {
}

nav {
    border-top: 10px solid rgb(9,28,54);
}

nav ul {
    display: none;   
}

section {

}

.cta, section p + a {
    background-color: rgba(9,28,54,.7);
    border-radius: 10px;
    color: rgba(255,255,255,.7);
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 50%;
}


article {
    border-bottom: 1px solid gray;
}

article ul
{
list-style-type:disc;
padding: 0px;
margin: 0px;
display:block-inline;

}

article ul+li
{
text-align: left;
padding: 0px;
padding-left: 14px; 
}

footer {
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;   
    text-align: center;
}
